<form action="/add-to-card" method="POST">
    <button class="btn btn-primary" type="submit"><i class="fas fa-cart-plus"></i>  Add to cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>